---
layout: default
---

<div class="home">

  <!--
  TODO
  only run videos and pictures as excerpts and run titles as "captions"?
  visually group them more?
  videos only small as link?
  just textual synopseses?
 -->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.thumbnailUrl %}
          <img src="{{ post.thumbnailUrl }}" alt="thumbnail for {{ post.title }}">
        {% endif %}

        <p>
        {{ post.excerpt }}
          {% capture content_words %}
            {{ post.content | number_of_words }}
          {% endcapture %}
          {% capture excerpt_words %}
            {{ post.excerpt | number_of_words }}
          {% endcapture %}
        </p>
        {% if excerpt_words != content_words %}
          <p><a href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
